{% extends 'base.html' %}

{% block title %}Teachers{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">

    <div>
        <h2 class="fw-bold">Teachers</h2>
        <p class="text-muted">Manage all teachers</p>
    </div>

    <a href="{% url 'add_teacher' %}" class="btn btn-primary">
        <i class="bi bi-person-plus-fill"></i>
        Add Teacher
    </a>

</div>

<div class="card shadow-sm mb-4">

    <div class="card-body">

        <form method="GET">

            <div class="row">

                <div class="col-md-8">

                    <input
                        type="text"
                        class="form-control"
                        name="search"
                        placeholder="Search Teacher..."
                        value="{{ request.GET.search }}">

                </div>

                <div class="col-md-4">

                    <button class="btn btn-success w-100">

                        Search

                    </button>

                </div>

            </div>

        </form>

    </div>

</div>

<div class="card shadow">

    <div class="card-body">

        <table class="table table-bordered table-hover">

            <thead style="background:#0d6efd;color:white;">

                <tr>

                    <th>ID</th>

                    <th>Name</th>

                    <th>Qualification</th>

                    <th>Experience</th>

                    <th>Phone</th>

                    <th>Email</th>

                    <th>Subject</th>

                    <th width="170">Actions</th>

                </tr>

            </thead>

            <tbody>

            {% for teacher in teachers %}

                <tr>

                    <td>{{ teacher.teacher_id }}</td>

                    <td>

                        {{ teacher.first_name }}

                        {{ teacher.last_name }}

                    </td>

                    <td>{{ teacher.qualification }}</td>

                    <td>{{ teacher.experience }} Years</td>

                    <td>{{ teacher.phone }}</td>

                    <td>{{ teacher.email }}</td>

                    <td>{{ teacher.subject }}</td>

                    <td>

                        <a href="{% url 'teacher_detail' teacher.id %}"

                           class="btn btn-info btn-sm">

                            <i class="bi bi-eye"></i>

                        </a>

                        <a href="{% url 'edit_teacher' teacher.id %}"

                           class="btn btn-warning btn-sm">

                            <i class="bi bi-pencil"></i>

                        </a>

                        <a href="{% url 'delete_teacher' teacher.id %}"

                           class="btn btn-danger btn-sm">

                            <i class="bi bi-trash"></i>

                        </a>

                    </td>

                </tr>

            {% empty %}

                <tr>

                    <td colspan="8" class="text-center">

                        No Teachers Found

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}